<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Name" value="ReservationMessageGenerator"/>
    <add key="Author" value="ozisan"/>
    <add key="Version" value="1.0"/>
    <add key="MinWidth" value="700"/>
    <add key="MinHeight" value="400"/>
    <add key="CreateWidth" value="800"/>
    <add key="CreateHeight" value="500"/>
    <add key="MaxWidth" value="900"/>
    <add key="MaxHeight" value="2000"/>
    <add key="StripeBack1" value="LayerOnAcrylicFillColorDefaultBrush"/>
    <add key="StripeBack2" value="DesktopAcrylicTransparentBrush"/>
    <add key="GuideMarkUpFile" value="Guide.dat"/>
    <add key="ScheduleMarkUpFile" value="Schedule.dat"/>
    <add key="DefaultScheduleMarkUpFile" value="DefaultSchedule.dat"/>
    <add key="DefaultGuideMarkUpFile" value="DefaultGuide.dat"/>
  </appSettings>
</configuration>